#footer{
  background-color: #17252A;
  margin-top: 350px;
}

.navbar-brand{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #3AAFA9;
}

.navbar-brand:hover{
  color: #2B7A78;
}

.nav-link{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #17252A;
}

.nav-link:hover{
  color: #2B7A78;
}

.navbar{
  height: 60px;
  background-color: #DEF2F1;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}

#body{
  background-color: snow;
  margin-top: 90px;
}

.media{
  margin-top: 40px;
}

/* .media img{
  height: 90px;
  width: 90px;
} */

.card-img{
  /* width: 80px;
  height: 400px;
  padding: 15px; */

  object-fit: contain;

}

#gif{
  margin-top: 40px;

}

.media-body h3{
  font-family: "Arial Black", Gadget, sans-serif;
}

#wics{
  object-fit: contain;
}


#bold{
    font-family: "Arial Black", Gadget, sans-serif;
}

#card{
    background-color: #DEF2F1;
    border:none;
}

.events{
  font-family: "Arial Black", Gadget, sans-serif;
  margin-top: 30px;
  color:#2B7A78
}

.media p{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
}

.icons{
  margin-top: 10px;
  background-color: #17252A;
  padding:5px;
  text-align: center;
  height: 50px;
  width:50px;
  background-color:
}

#copy{
  color: white;
}

#wics{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #3AAFA9;

}

.nav-item{
  background-color: #DEF2F1;
  padding: 5px;

}



.media{
  /* border: solid;
  border-width: .5px;
  border-color: grey; */
  padding: 20px;
  background-color:  #3AAFA9;;
  color: white;

}

.media:hover{
  opacity: .9;
  cursor: pointer;
}

#try{
  box-shadow: 1px 1px 5px 4px rgba(0,0,0,0.08);

  /* border-style: solid;
  border-width: 1px;
  border-color: lightgray; */
}

.icons:hover{
  cursor: pointer;
  opacity: .8;
}
