#main{
  font-size: 16;
  margin-top: 30px;
    /* font-family: "Arial Black", Gadget, sans-serif; */

}



.carousel-item{
  height: 600px;
}

img{
  /* height: 800px; */
  object-fit: cover;
}

#footer{
  background-color: #17252A;
  margin-top: 30px;
}

.navbar-brand{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #3AAFA9;
}

.navbar-brand:hover{
  color: #2B7A78;
}

.nav-link{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #17252A;
}

.nav-link:hover{
  color: #2B7A78;
}

.navbar{
  height: 60px;
  background-color: #FEFFFF;
}

#body{
  background-color: #DEF2F1;
}

.card-img{
  width: 80px;
  height: 400px;
  padding: 15px;
}

#gif{
  margin-top: 40px;
}

#space{
  /* height: 350px; */
  font-family: "Arial Black", Gadget, sans-serif;
  color:#17252A;
  background-color: #3AAFA9;
  margin-top: 50px;
}



#vid{
  margin-top: 40px;
}

#GHC{
  background-color: #3AAFA9;
  border: none;
  margin-top: 100px;
}

.btn{
  background-color: #2B7A78;
  color: white;
}

.btn:hover{
    color:#17252A;
}

#h{
  font-family: "Arial Black", Gadget, sans-serif;
}

#updates{
  margin-top: 50px;
}

#color{
  background-color: #3AAFA9;
}

.card:hover{
  opacity: .8;
  cursor: pointer;
}


.icons{
  margin-top: 10px;
  background-color: #17252A;
  padding:5px;
  text-align: center;
  height: 50px;
  width:50px;
  background-color:
}

#copy{
  color: white;
}

#main p{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
}
