#main{
  font-size: 16;
  margin-top: 30px;
    /* font-family: "Arial Black", Gadget, sans-serif; */

}



img{
  /* height: 800px; */
  object-fit: cover;
}

#footer{
  background-color: #17252A;
  margin-top: 30px;
}

.navbar-brand{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #17252A;
}

.navbar-brand:hover{
  color: #2B7A78;
}

.nav-link{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #17252A;

}

.nav-link:hover{
  color: #2B7A78;
}

.navbar{
  height: 60px;
  background-color: #DEF2F1;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
}

#body{
  /* background-color: #DEF2F1; */
  background-color: snow;
}

.card-img{
  width: 80px;
  height: 400px;
  padding: 15px;
}

#gif{
  margin-top: 40px;
}

#space{
  /* height: 350px; */
  font-family: "Arial Black", Gadget, sans-serif;
  color:#17252A;
  background-color: #3AAFA9;
  margin-top: 50px;
}



#vid{
  margin-top: 40px;
}

#GHC{
  background-color: #3AAFA9;
  border: none;
  margin-top: 100px;
}

.btn{
  background-color: #2B7A78;
  color: white;
}

.btn:hover{
    background-color:#DEF2F1;
    color: #2B7A78;
}

#h{
  font-family: "Arial Black", Gadget, sans-serif;
  color:#2B7A78
}

#updates{
  margin-top: 50px;
}

#color{
  background-color: #3AAFA9;
}

.card:hover{
  opacity: .8;
  cursor: pointer;
}


.icons{
  margin-top: 10px;
  background-color: #17252A;
  padding:5px;
  text-align: center;
  height: 50px;
  width:50px;
  background-color:
}

#copy{
  color: white;
}

#main p{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
}

.mainImg{
  width: 100%;
}

#con{
  padding-left: 0px;
  padding-right: 0px;
}

#wics{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #3AAFA9;
}

.nav-item{
  background-color: #DEF2F1;
  padding: 10px;
}

#lead{
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
}

body{
  color: darkgrey;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("design.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-style: solid;
  border-color: lightgray;
}

.title{
  color: white;
  font-size: 50px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.lead{
  color: white;
}

.display{
  color: white;
}

/* .masthead {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
} */

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.test{
  height: 100px;
  background: linear-gradient(-45deg, #3AAFA9, );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
} */

/* #top{
  width: 150px;
  height: 50px;
} */
