body{
  margin: 0;
  line-height:1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

#imgmain{
  filter: brightness(60%) contrast(90%);
}

.component{
 padding-top: 30px;
 padding-bottom: 30px;

}

.safe-area{
  max-width: 84%;
  margin: auto;
  width: 800px;
  font-size: 20px;
}

header{
  color: white;
}

.componentpink{
  margin-top: 20px;
  margin-bottom: 10px;
}

.safe-area > :first-child{
  margin-top: 0;
}

.safe-area > :last-child{
  margin-bottom: 0;
}

header.component{
  position: relative;
}

img{
    width: 100%;
    max-width: 100%;
}

header.component img{
  position: absolute;
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

p.caption{
  padding-bottom: 30px;
}

header .safe-area{
  position: relative;
  min-height: calc(400px);
  bottom:10px;
  object-fit: contain;
  text-overflow: ellipsis;
  margin-bottom: 40px;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.caption{
  font-weight: bold;
  font-size: 17px;
  padding-top: 15px;
}


.teaser{
  font-weight: bold;
}

#date, #tag, #source{
  margin-right: 5px;
  border: solid;
  border-width: 1px;
  padding: 5px;
}

a{
  color: black;
  text-decoration: none;
}

.related-stories{
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin: 20px -20px;
  overflow-x: scroll;
  margin-top: 0;
  margin-left: 4px;

}

.related-story{
  width: 20%;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
  flex: 1 1 auto;
  margin: 20px 20px 20px 0px;
  position: relative;
  background-color: rgb(255,255,255); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.related-story:hover{
  opacity: .7;
}

.related-stories img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;
  margin-bottom: 0;
}

.related-story .thumbnail{
  padding-bottom: 60%;
  position: relative;
}

.related-story .title{
  font-weight: bold;
  font-size: 13px;
  padding: 8px;
  position: relative;
  color: grey;
}

.divider{
  height: 10px;
  background: black;
}

h2{
  color: grey;
}

.arrow{
  width: 30px;
  height: 30px;
}

#left{
  transform: scaleX(-1);
  float: right;
}

#right{
  float: right;
}

button{
  background-color: white;
  border: none;
}

button:hover{
  cursor: pointer;
}

.title:hover{
  cursor: pointer;
}

.random{
   margin-top: 100px;
}

footer{
  margin-top: -25px;
}

.icon{
  height: 40px;
  width: 40px;
  float: right;
}

.icons{
  float: right;
  margin-top: -7px;
}

@media screen and (max-width: 550px){
  .icons{
    float: none;
    display: block;
    margin-top: 25px;
    margin-right:5px;
  }
}
