body{
  margin: 0;
  line-height:1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

#news-template{
  background-color: #F6F6F2;
}

#imgmain{
  filter: brightness(60%) contrast(90%);

  /* margin-top: 10px; */
}

.component{
 padding-top: 30px;
 padding-bottom: 30px;


}


.safe-area{
  max-width: 84%;
  margin: auto;
  /* splits left over of max width and puts as margin
  try using this for your project*/
  width: 800px;
  /* wont get larger than 800
  fluid transition*/

}


/* div#middle.safe-area{
  margin-bottom: 20px;
} */

header{
color: white;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

/* footer{
  background-color: grey;
} */

.componentpink{
  margin-top: 20px;
  margin-bottom: 10px;
}

/* selects first thing in safe area */
.safe-area > :first-child{
  margin-top: 0;
}

.safe-area > :last-child{
  margin-bottom: 0;
}

/*more specific and wins  */
header.component{
  /* padding:0; */
  position: relative;

}

img{
    width: 100%;
    max-width: 100%;
}


header.component img{
  position: absolute;
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  /* scale to fit basically... */
  /* object-position: top left; */
  /* pinned by upper left corner if you want */
}

p.caption{
  padding-bottom: 30px;
}

header .safe-area{
  position: relative;
  /* no longer static now the safe area w text gets to be in front*/
  min-height: calc(400px);
  /* margin-top: 75px; */
  /* left: 30px;
  top: 50px; */
  bottom:10px;
  object-fit: contain;
  text-overflow: ellipsis;
  margin-bottom: 40px;
  padding: 15px;
  margin-top: 10%
  /* padding-top: 10px; */
  /* explore what calc does */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#headerText{

  font-size: 20px;
  color: white;
}

/* .relatedItems{
  display:flex;
  text-align: center;
  flex-wrap: wrap;
} */

/* li{
  width: 500px;
  height: 238px;
  /* border-style: solid;
  border-color: grey;
  border-width: .01px; */
  /* margin: 5px;
  overflow: hidden;
  text-align: left;

} */


/* .other_img{
  object-fit: contain;
  max-width:100%;
} */

/* .relatedtext{
  font-size: 17px;
  background-color: rgb(232,232,232);
  color: black;
  font-weight: bold;
  padding: 8px;

} */

/* @media screen and (max-width: 550px){
  .relatedItems{
    display: inline-block;
    text-align: center;
  }

  li{
    width: 400px;
    height: 268px;
    /* border-style: solid;
    border-color: grey;
    border-width: .01px; */
    /* overflow: hidden;
    text-align: left;
    margin-top: 20px; */


  /* } */

  /* footer .safe-area{
    text-align: center;


  }

}  */

.caption{
  font-weight: bold;
  font-size: 17px;
  padding-top: 15px;
}


.teaser{
  font-weight: bold;
}

#date, #tag, #source{
  /* background-color: lightgrey; */

  margin-right: 5px;
  border: solid;
  border-width: 1px;
  border-color: #388087;
  padding: 5px;

  /* padding-bottom: 30px; */
}

a{
  color: black;
  text-decoration: none;
}

.related-stories{
  display: inline-flex;
  margin: 0;
  padding: 0;
  /* flex-wrap: wrap; */
  margin: 20px -20px;
  overflow-x: scroll;
  /* max-width: 84%;
  margin: auto;
  width: 800px; */
  width:100%;
  margin-top: 0;
  margin-left: 4px;

}

.related-story{
  /* max-width: 480px;
  min-width: 340px; */
  width: 20%;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F2;

  /* justify-content: space-between; */
  margin: 0;
  /* width: 100%; */
  flex: 1 1 auto;
  margin: 20px 20px 20px 0px;

  position: relative;
  /* border: 1px solid; */
  /* border-color: grey;

  background-color: rgb(255,255,255); */
  /* padding: 10px; */
  /* box-shadow: 3px -1px 18px 3px rgba(71,70,71,0.75); */
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);


}

.related-story:hover{
  opacity: .7;
}

.related-stories img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;

  margin-bottom: 0;

  /* height: 0; */

}

.related-story .thumbnail{
  padding-bottom: 60%;
  position: relative;


}

.related-story .title{
  /* margin-bottom: 10px; */
  font-weight: bold;
  /* position: relative; */
  font-size: 13px;

  /* margin-top: 0; */
  padding: 8px;
  position: relative;
  color: black;
  /* padding-top: 0; */

}

.divider{
  height: 10px;
  background: black;
}

h2{
  color: black;
  font-family:Impact, Charcoal, sans-serif;
  font-size: 40px
}

.arrow{
  width: 30px;
  height: 30px;
  /* float: right; */
}

#left{
  transform: scaleX(-1);
  float: right;
  /* margin-top: -20px; */
}

#right{
  float: right;
}

button{
  background-color: #F6F6F2;
  border: none;
}

button:hover{
  cursor: pointer;
}

.title:hover{
  cursor: pointer;
}

.random{
   margin-top: 100px;
}

#ffff{
  margin-top: -25px;
}

.icon{
  height: 40px;
  width: 40px;
  float: right;
}

.icons{
  float: right;
  margin-top: -7px;
}

@media screen and (max-width: 550px){
  .icons{
    float: none;
    display: block;
    margin-top: 25px;
    margin-right:5px;
  }
}

.foot{
  display: flex;
  justify-content: space-between;

  background-color: black;
  height: 400px;
  /* margin-top: 20px; */
}

#in{
  width: 50%;
  padding: 8px;

}

input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: black;
}

#outer{
  background-color: black;
  display: block;
  text-align: center;
  padding: 10px;

}

.grid-item{
  width: 32%;
  color: white;
  text-align: center;
  font-size: 17px;
}

.grid-item li:hover{
  cursor: pointer;
  color: #BADFE7;
}

.grid-item h3{
  font-size: 22px;
}








/* mobile size */
@media screen and (max-width: 750px){
  #news-site-header{
    z-index: 2;
    font-size: 30px;
    width: 100%;
    position: absolute;
    color: black;
    /* background-color: white; */
    background-color: black;
    /* background: rgba(255,255,255,0.9); */
    /* background: rgba(255,255,255,0.9); */
    /* background-color: white; */

    height: 90px;

  }

.mobile_search img{
  z-index: 3;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 50px;
  margin-top: -40px;

}
.mobile_search2 img{
  z-index: 3;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 10px;
  margin-top: -40px;
}

.mobile_search2:hover{
  cursor: pointer;
}

.mobile_search:hover{
  cursor: pointer;
}

#in, #outer{
  display: none;
}
  .menuItem a{
    color: #F6F6F2;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    display: block;
    width: 100%;
    font-size: 35px;
    width: 100%;
  }

  .menuItem{
    width: 100%;
    font-size: 40px;
    /* width: 500px */
    /* border-color: grey;
    border-bottom-style:solid; */

    /* background: rgba(255,255,255,0.9); */
    /* margin: 5px; */
    padding: 8px;
    background-color: black;
    /* height: 70px; */
    /* margin-top: 10px; */
  }

  #headerText{
    /* font-size: 98%; */
  }

  #head{
    margin-top: 100px;
    text-align: left;
  }

  #subtitle{
    display: none;
  }

  .ya{
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 10px;
  }

  .ya:hover{
    cursor: pointer;
  }


  .expandable li{
    display: none;
    background: black;
  }
  .expanded li{
    display: block;
    /* border-bottom-style: solid;
    border-color: rgb(211,211,211); */
  }

  .expanded li a{
    display: block;
    font-size: 25px;
    width: 100%;
    padding: 8px;
    margin-left: 10px;
    color: white;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  }

  .expanded .menuItem{
    background-color: #388087;

  }

.m{
  display: none;
}

  .login{
    display: none;
    /* float: right;
    position: relative;
    bottom: 55px;
    right: 5px;
    background-color: #388087;
    border: none;
    color: white;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight:bold; */

  }

  .name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #F6F6F2;


  }
  #big{
    display: inline-block;
  }

  .mobileMenu{
    display:none;
  }

  .mobileMenu.show{
    display: block;
  }

  /* .innerList{
    position: absolute;
  } */

  .foot{
    display: none;
  }


  .foot_two{
    height: 30px;
    padding: 2px;
    text-align: right;
    font-size: 12px;
    background-color:black ;
    color: white;

  }

  .foot_two span{
      margin-right: 10px;
  }

  #middle{
    font-size: 110%;
  }

}










/* regular  */
@media screen and (min-width: 751px){
  #news-site-header{
    z-index: 2;
    font-size: 30px;
    position: absolute;
    color: black;
    /* background-color: white; */
    background-color: transparent;
    /* background: rgba(255,255,255,0.9); */
    /* background: rgba(255,255,255,0.9); */
    /* background-color: white; */
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

  }

  #middle{
    font-size: 110%;
  }

  .mobile_search{
    display: none;
  }
  .mobile_search2{
    display: none;
  }

.mobileMenu{
  width: 70%;
  text-align: right;
  padding-right: 10px;

}
.menuItem{
  /* background-color: #6FB3B8; */
  /* color: white; */

  font-size: 27px;
  padding: 15px;
  border: none;
  font-family: 'Lobster', cursive;
}

.menuItem a {
  color: #F6F6F2;
}

.expandable {
  position: relative;
  display: inline-block;
}

.innerList {
  display: none;
  position: absolute;
  background-color: #F6F6F2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

.innerList a {
  color: #388087;
  padding: 12px 16px;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.innerList a:hover {background-color: #BADFE7;}

.expandable:hover .innerList {display: block;}

.expandable:hover .menuItem a {
  color: #BADFE7;

}

.ya{
  display: none;
}
.login{

 background-color: #388087;
 border: none;
 color: white;
 padding: 12px 27px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 border-radius: 20px;
 font-size: 12px;



}

.loginn{
   width: 10%;
   margin-top: 2.5%;
}

.login:hover{
  opacity: .9;
}


.name{
  /* position: absolute; */
  width: 30%;
  /* transform: translate(-50%, -50%); */
  /* font-family:Impact, Charcoal, sans-serif; */
  /* font: 400 100px/1.2 'Leckerli One', Helvetica, sans-serif; */
  font-family: 'Lobster', cursive;
  font-size: 55px;
  color: white;
  padding-left: 15px;


}


#big{
  font-size: 29px;
  text-decoration: underline bold;
}

.foot_two{

  text-align: center;
  background-color:black;
  color: white;
  padding: 10px;
}


}






@media screen and (max-width: 1500px){
  .menuItem{
    padding: 9px;
    font-size: 24px;
  }
}


@media screen and (max-width: 900px){
  .menuItem{
    padding: 8px;
    font-size: 20px;

  }

  .name{
    font-size: 45px;
  }

  .login{
    font-size: 12px;
    padding:14px;
  }
}

/* @media screen and (max-width: 1200px){
  #big{
    display: none;
  }
} */
