body{
  margin: 0;
  line-height:1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

#imgmain{
  filter: brightness(60%) contrast(90%);
  margin-top: 10px;
}

.component{
 padding-top: 30px;
 padding-bottom: 30px;

}

.safe-area{
  max-width: 84%;
  margin: auto;
  /* splits left over of max width and puts as margin
  try using this for your project*/
  width: 800px;
  /* wont get larger than 800
  fluid transition*/
  font-size: 20px;

}


/* div#middle.safe-area{
  margin-bottom: 20px;
} */

header{
  /* background-color: lightgrey; */
  color: white;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

/* footer{
  background-color: grey;
} */

.componentpink{
  margin-top: 20px;
  margin-bottom: 10px;
}

/* selects first thing in safe area */
.safe-area > :first-child{
  margin-top: 0;
}

.safe-area > :last-child{
  margin-bottom: 0;
}

/*more specific and wins  */
header.component{
  /* padding:0; */
  position: relative;
}

img{
    width: 100%;
    max-width: 100%;
}

header.component img{
  position: absolute;
  top: 0;

  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  /* scale to fit basically... */
  /* object-position: top left; */
  /* pinned by upper left corner if you want */
}

p.caption{
  padding-bottom: 30px;
}

header .safe-area{
  position: relative;
  /* no longer static now the safe area w text gets to be in front*/
  min-height: calc(400px);
  /* margin-top: 75px; */
  /* left: 30px;
  top: 50px; */
  bottom:10px;
  object-fit: contain;
  text-overflow: ellipsis;
  margin-bottom: 40px;
  padding: 15px;
  /* padding-top: 10px; */
  /* explore what calc does */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* .relatedItems{
  display:flex;
  text-align: center;
  flex-wrap: wrap;
} */

/* li{
  width: 500px;
  height: 238px;
  /* border-style: solid;
  border-color: grey;
  border-width: .01px; */
  /* margin: 5px;
  overflow: hidden;
  text-align: left;

} */


/* .other_img{
  object-fit: contain;
  max-width:100%;
} */

/* .relatedtext{
  font-size: 17px;
  background-color: rgb(232,232,232);
  color: black;
  font-weight: bold;
  padding: 8px;

} */

/* @media screen and (max-width: 550px){
  .relatedItems{
    display: inline-block;
    text-align: center;
  }

  li{
    width: 400px;
    height: 268px;
    /* border-style: solid;
    border-color: grey;
    border-width: .01px; */
    /* overflow: hidden;
    text-align: left;
    margin-top: 20px; */


  /* } */

  /* footer .safe-area{
    text-align: center;


  }

}  */

.caption{
  font-weight: bold;
  font-size: 17px;
  padding-top: 15px;
}


.teaser{
  font-weight: bold;
}

#date, #tag, #source{
  /* background-color: lightgrey; */

  margin-right: 5px;
  border: solid;
  border-width: 1px;
  padding: 5px;

  /* padding-bottom: 30px; */
}

a{
  color: black;
  text-decoration: none;
}

.related-stories{
  display: inline-flex;
  margin: 0;
  padding: 0;
  /* flex-wrap: wrap; */
  margin: 20px -20px;
  overflow-x: scroll;
  /* max-width: 84%;
  margin: auto;
  width: 800px; */
  width:100%;
  margin-top: 0;
  margin-left: 4px;

}

.related-story{
  /* max-width: 480px;
  min-width: 340px; */
  width: 20%;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  background-color: white;

  /* justify-content: space-between; */
  margin: 0;
  /* width: 100%; */
  flex: 1 1 auto;
  margin: 20px 20px 20px 0px;

  position: relative;
  /* border: 1px solid; */
  /* border-color: grey;

  background-color: rgb(255,255,255); */
  /* padding: 10px; */
  /* box-shadow: 3px -1px 18px 3px rgba(71,70,71,0.75); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);


}

.related-story:hover{
  opacity: .7;
}

.related-stories img{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  object-fit: cover;

  margin-bottom: 0;

  /* height: 0; */

}

.related-story .thumbnail{
  padding-bottom: 60%;
  position: relative;


}

.related-story .title{
  /* margin-bottom: 10px; */
  font-weight: bold;
  /* position: relative; */
  font-size: 13px;

  /* margin-top: 0; */
  padding: 8px;
  position: relative;
  color: grey;
  /* padding-top: 0; */

}

.divider{
  height: 10px;
  background: black;
}

h2{
  color: #191970;
  font-family:Impact, Charcoal, sans-serif;
  font-size: 40px
}

.arrow{
  width: 30px;
  height: 30px;
  /* float: right; */
}

#left{
  transform: scaleX(-1);
  float: right;
  /* margin-top: -20px; */
}

#right{
  float: right;
}

button{
  background-color: white;
  border: none;
}

button:hover{
  cursor: pointer;
}

.title:hover{
  cursor: pointer;
}

.random{
   margin-top: 100px;
}

footer{
  margin-top: -25px;
}

.icon{
  height: 40px;
  width: 40px;
  float: right;
}

.icons{
  float: right;
  margin-top: -7px;
}

@media screen and (max-width: 550px){
  .icons{
    float: none;
    display: block;
    margin-top: 25px;
    margin-right:5px;
  }
}






  #news-site-header{
    z-index: 3;
    font-size: 30px;
    width: 100%;
    position: absolute;
    color: black;
    /* background: rgba(255,255,255,0.9); */
    /* background: rgba(255,255,255,0.9); */
    /* background-color: white; */
    background: white;
    height: 70px;
  }

  .menuItem a{
    color: #191970;
    font-family:Impact, Charcoal, sans-serif;
    display: block;
    width: 100%;
  }

  .menuItem{
    width: 100%;
    font-size: 40px;
    /* width: 500px */
    /* border-color: grey;
    border-bottom-style:solid; */

    /* background: rgba(255,255,255,0.9); */
    /* margin: 5px; */
    padding: 8px;
    background: white;
    /* height: 70px; */
    /* margin-top: 10px; */
  }

  #headerText{
    margin-top: 50px;
  }

  .ya{
    width: 60px;
    height: 50px;
    margin-top: 5px;
  }

  .expandable li{
    display: none;
    background: white;
  }
  .expanded li{
    display: block;
    /* border-bottom-style: solid;
    border-color: rgb(211,211,211); */
  }

  .expanded li a{
    font-size: 30px;
    padding: 8px;
    margin-left: 10px;
    color:rgb(119,136,153);
    font-family:Impact, Charcoal, sans-serif;
  }

  .expanded .menuItem{
    background-color: rgb(173, 216, 230);
  }


  .login{
    float: right;
    position: relative;
    bottom: 55px;
    right: 5px;
    background-color: #191970;
    border: none;
    color: white;
    padding: 15px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight:bold;

  }

  .name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Impact, Charcoal, sans-serif;
    font-size: 40px;

  }
