body {
  position: relative;


}

#myNavbar{
  width: 100%;

}



#picMe{
  padding-top:50px;
  height:370px;
  color: black;
  background-color: white;
}

#introduction{
padding-top:50px;
  height:500px;
  color: black;
  background-color: white;

}

#secondary_Research{
  padding-top:60px;
  height:2870px;
  color: black;
  background-color: white ;
}

#similar_Programs{
  padding-top:50px;
  height:1000px;
  color: black;
  background-color: white;
}

#initial_Ideas{
  padding-top:50px;
  height:500px;
  color: black;
  background-color: white;
}

#our_Focus{
  padding-top:50px;
  height:1000px;
  color: black;
  background-color: white;
}

#target{
  padding-top:50px;
  height:650px;
  color: black;
  background-color: white;
}

#personas{
  padding-top:50px;
  height:7450px;
  color: black;
  background-color: white;
}

#wireframes{
  padding-top:50px;
  height:6550;
  color: black;
  background-color: white;
}

#conclusion{
  padding-top: 50px;
  height:1700px;
  color: black;
  background-color: white;

}


.container-fluid h1{
  color: rgb(38, 77, 115);
  font-weight:bold;
  font-size: 30px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;

}

.container-fluid h3{
  color: black;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color: rgb(38, 77, 115);

}

.container-fluid h2{
  color: black;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  color: rgb(38, 77, 115);

}

.container-fluid p{
  font-size: 19px;
  margin-left: 20px;
  margin-right: 40px;
  line-height: .7cm;
  color: rgb(96,96,96);
  font-family:"Trebuchet MS", Helvetica, sans-serif;

}

#logo{
  margin-top:20px;
  width: 60%;
}

#people{
  margin-top: 200px;
}

#title{
  color: white;
  padding: 5px;
  font-size: 40px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;

}

.container-fluid li{
  font-size: 19px;
  color: rgb(96,96,96);
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.persona{
  width: 80%;
}

.sitemap{
  width: 100%;
}

#highlight{
  background-color: rgb(83, 140, 198);
  height: 60px;

}

.gap{
  height: 40px;
  background-color:rgb(121, 166, 210);
  margin-top: 50px;
  margin-bottom: 50px;

}

.wire{
  width: 99%;
}

blockquote{
  font-weight:bold;
}

#save{
  width: 30%;
}

.person{
  width: 30px;
  height: 30px;
}

.col-sm-5 p{
  font-size: 19px;
  color: rgb(96,96,96);
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}

#green{
  color: green;
}

#yellow{
  color: #FFCC33;
}

#crown{
  width: 70%;
  text-align: center;
  margin-left: 20px;
}

#decline{
  width: 50%;
}

#vol{
  width: 40%;
  margin-left: 20px;
}

.story{
  width: 80%;
}

#aftermeals{
  width: 40%;
  margin-left: 20px;
}

#meals{
  margin-left: 20px;
  width: 40%;
}

.al{
  width: 7%;
}
